<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app3">
        <div class="container">
                <div>
                    <h1>Assets</h1>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-default border">All</button>
                  <button type="button" class="btn btn-default border">Reverse</button>
                  <button type="button" class="btn btn-default border">Cancel</button>
                  <button type="button" class="btn border"
                          v-on:click="editMode=!editMode"
                          v-bind:class="editMode ? 'btn-warning':'btn-default'"
                          v-text="!editMode ? 'Edit Mode':'Quit Edit Mode'"
                          >
                  </button>
                  <button type="button" class="btn btn-default border">Bulk Delete</button>
                  <button type="button" class="btn btn-default border">Save</button>
                </div>
            <table  class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" v-for="c in columns" v-if="c.display" v-text="c.title"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in rows">
                        <td v-for="column in columns" v-if="column.display" v-html="filterHTML(row, column)">

                        </td>
                    </tr>

                </tbody>
            </table>


    </div>
        </div>
    <script type="module">
        import mymixin from "../static/vue/mixins/mixins.js";
        Vue.config.devtools = true;
        Vue.prototype.$http = axios;
        new Vue({
            mixins: [mymixin],
            delimiters: ['[[', ']]'],
            el: '#app3',
            data: function() {
                return {
                    editMode: false,
                    columns: new Set(),
                    q:[],
                    rows:[],
                    selected:{"test":1, },
                    checkedNames: [],
                }

            },

            methods: {
                filterHTML: function(row, column, createElement){
                    var self = this;
                    var isTrue = row[column.q].toString().includes('checkbox');

                    if (isTrue) {
                        return `<input type="checkbox" :checked="checkedNames" @change="$event.target.value" >`
                    }
                    if (!this.editMode) {
                        return row[column.q];
                    } else {
                        if (!self.isEmpty(column.attrs)) {
                            if(column.attrs['edit-enable']) {
                                if (column.attrs['edit-type'] ==="select") {
                                    var editType = column.q;
                                    self.selected[editType] = row[column.q];
                                    return `<select v-model="selected[${column.q}]"><option>${row[column.q]}</option></select>`;

                                } else if(column.attrs['edit-type'] === "input") {
                                    return `<input value="${row[column.q]}">`;
                                } else {
                                    return row[column.q];

                                }

                            }
                        } else {
                            return row[column.q];
                        }
                    }

                },
                getAttrs: function(i) {
                    return {
                        ...i
                    }
                },
                // list = [[1,a], [2, b]]
                getType: function(id, list){
                    let type = list.filter((x) => {
                      return x[0]=== id
                  })

                  return type[0][1]
              },
                getContent: function(value, rep) {
                  //'content'= "test-{n}" => 'content' = "test-1"
                    var content = value.text.content.replace(/\{(\w+)\}/g, (km, m) => {
                        //console.log(m, rep[m])
                        return rep[m];
                  });
                  return content
              },
            },
            created: function() {
                  var self = this;
                  this.$http
                      .get("/web/asset-json.html").then(
                          function (response) {
                              var table_config = [...response.data.table_config];
                              var data = Object.assign([],response.data.data_list);
                              var global_dict = Object.assign({}, response.data.global_dict);
                              // row= {id:1, idc: 3, ...}
                              data.map((row) => {
                                  var row_temp = Object.assign({}, row);
                                  table_config.map((column) => {
                                      // kwargs: {'n': "@@device_status_choices"} => kwargs: {'n': 1}
                                      let text = {...column.text};
                                      let kwargs = {};
                                      let content1 ="";
                                      // replace column not in row and has q as None and not a database column
                                      if(column.q === null) {
                                          console.log(column.q)
                                          column.q = column.title;
                                          row_temp[column.q] = column.title;

                                      }

                                      if (self.isEmpty(text)) {
                                            content1 = row_temp[column.q]
                                      }

                                      if (!self.isEmpty(text)) {
                                          kwargs = {...text.kwargs};
                                      }

                                      if (!self.isEmpty(text) && !self.isEmpty(kwargs)) {
                                          var rep = Object.assign({}, kwargs);
                                          for (var k in kwargs) {

                                              if (kwargs[k].substring(0,2) === "@@"){
                                              // replace kwargs column
                                                rep[k]= self.getType(row_temp[column.q],
                                                    global_dict[kwargs[k]
                                                        .substring(2, kwargs[k].length)]);
                                                content1 = self.getContent(column, rep)

                                              } else if (kwargs[k][0]==='@') {
                                                  rep[k] = row_temp[kwargs[k].substring(1, kwargs[k].length)]
                                                  content1 =self.getContent(column, rep);
                                              }
                                          }
                                      }
                                      if (!self.isEmpty(text) && self.isEmpty(kwargs)) {
                                           content1 = text.content;

                                       }
                                      row_temp[column.q] = content1;
                                      self.columns.add(column);


                                  });
                                  self.rows.push(row_temp);


                              });
                          }
                  );
                },
            })

    </script>


</body>
</html>